<table valign="top" width="100%" cellspacing="0" cellpadding="0"
	border="0" align="center">
	<tbody>
		<tr>
			<td valign="top" align="center">
				<table style="width: 600px; padding: 24px 32px;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);" width="600px"
					cellspacing="0" cellpadding="0" border="0" align="center"
					bgcolor="#ffffff">
					<tbody>
						<tr>
							<td style="padding-top: 24px" valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td valign="top" align="center" colspan="3"><img
												alt="Selamat Bergabung!"
												style="display: block; font-family: Arial, sans-serif; font-size: 30px; line-height: 34px; color: #000000"
												src="https://api-staging.asuransikapalku.com/image/email/banner.png"
												width="100%" border="0" class="CToWUd a6T" tabindex="0"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td
								style="padding-top: 24px; padding-left: 10px; padding-right: 10px"
								valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td
												style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 28px; color: rgba(49, 53, 59, 0.96)"
												valign="top" align="left">Dear <b>{{CUSTOMER_NAME}}</b>,
											</td>
										</tr>
										<tr>
											<td style="font-size: 0px; line-height: 0px; height: 15px"
												height="12">&nbsp;</td>
										</tr>
										<tr>
											<td
												style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 22px; color: rgba(49, 53, 59, 0.96)"
												valign="top"><p align="justify">
													Congratulations! You are one step closer to be a user of
													asuransikapalku.com. </p>
													<p align="justify"> We will contact you soon and provide the schedule for KYC
													(know your customer) session to meet our awesome team on
													the following mail 😃. </p>
													<p align="justify"> Please do not hesitate to access asuransikapalku.com or
													visit our social media on Instagram and Facebook Page to
													know more about our services. </p>
												</p>
												<p align="justify">
												<hr style="border-top: 1px dashed #8c8b8b">
												</p>
												<p align="justify">
													Selamat! Anda sudah selangkah lebih dekat untuk menjadi
													user dari asuransikapalku.com. </p>
													<p align="justify"> Kami akan segera menghubungi Anda dan memberikan jadwal
													sesi KYC (know your customer) untuk berbincang dengan tim
													kami pada email selanjutnya 😃. </p>
													<p align="justify"> Silahkan langsung mengakses asuransikapalku.com atau
													kunjungi media sosial kami di Instagram dan Facebook Page,
													untuk mengetahui lebih lanjut mengenai jasa kami.
												</p></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td
								style="color: rgba(49, 53, 59, 0.96); font-family: 'Roboto', Arial, sans-serif; padding-top: 48px; font-size: 12px; line-height: 18px; padding-left: 10px; padding-right: 10px">
								E-mail ini dibuat otomatis, mohon tidak membalas. Jika butuh
								bantuan, silakan <a
								style="color: #2a5b70; text-decoration: none; font-weight: bold"
								href="#" target="_blank">hubungi kami</a>.
							</td>
						</tr>
						<tr>
							<td
								style="padding-top: 34px; padding-left: 10px; padding-right: 10px"
								valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td valign="top" align="center" bgcolor="#2a5b70">
												<table width="100%" cellspacing="0" cellpadding="0"
													border="0" align="center">
													<tbody>
														<tr>
															<td height="25"></td>
														</tr>
														<tr>
															<td
																style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 18px; color: rgba(255, 255, 255, 255)"
																valign="top" align="center">Follow us for some cool
																stuffs</td>
														</tr>
														<tr>
															<td height="25"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td
								style="padding-top: 24px; padding-left: 10px; padding-right: 10px; height: 1px; width: 100%; border-bottom: 1px solid #e5e7e9"
								valign="top" align="left" height="1" width="100%">&nbsp;</td>
						</tr>
						<tr>
							<td
								style="font-family: 'Roboto', Arial, sans-serif; padding-top: 24px; font-size: 12px; text-align: center; line-height: 18px; color: rgba(49, 53, 59, 0.44); padding-left: 10px; padding-right: 10px"
								valign="top" align="left">2021 Asuransikapalku. All Rights Reserved</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>