<table valign="top" width="100%" cellspacing="0" cellpadding="0"
	border="0" align="center">
	<tbody>
		<tr>
			<td valign="top" align="center">
				<table style="width: 600px; padding: 24px 32px" width="600px"
					cellspacing="0" cellpadding="0" border="0" align="center"
					bgcolor="#ffffff">
					<tbody>
						<tr>
							<td style="padding-top: 24px" valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td valign="top" align="center"><img
												alt="Selamat Bergabung!"
												style="display: block; font-family: Arial, sans-serif; font-size: 30px; line-height: 34px; color: #000000"
												src="https://api-staging.asuransikapalku.com/image/email/banner.png"
												width="75%" border="0" class="CToWUd a6T" tabindex="0">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding-top: 5px" valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td
												style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 28px; color: rgba(49, 53, 59, 0.96)"
												valign="top" align="left">Dear <b>{{CUSTOMER_NAME}}</b>,
											</td>
										</tr>
										<tr>
											<td style="font-size: 0px; line-height: 0px; height: 15px"
												height="12">&nbsp;</td>
										</tr>
										<tr>
											<td
												style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 22px; color: rgba(49, 53, 59, 0.96)"
												valign="top" align="justify">
												<p>Berikut password baru Anda yang dibuat secara otomatis: <b>{{PASSWORD}}</b> segera ubah dan sesuaikan menggunakan password Anda sendiri.</br></p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td
								style="color: rgba(49, 53, 59, 0.96); font-family: 'Roboto', Arial, sans-serif; padding-top: 48px; font-size: 12px; line-height: 18px">
								E-mail ini dibuat otomatis, mohon tidak membalas. Jika butuh
								bantuan, silakan <a
								style="color: #2a5b70; text-decoration: none; font-weight: bold"
								href="#" target="_blank">hubungi kami</a>.
							</td>
						</tr>
						<tr>
							<td style="padding-top: 24px" valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td valign="top" align="center" bgcolor="#2a5b70">
												<table width="100%" cellspacing="0" cellpadding="0"
													border="0" align="center">
													<tbody>
														<tr>
															<td height="25"></td>
														</tr>
														<tr>
															<td
																style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 18px; color: rgba(255, 255, 255, 255)"
																valign="top" align="center">Follow us for some cool
																stuffs</td>
														</tr>
														<tr>
															<td style="padding-top: 12px; width: 32px" valign="top"
																align="left">
																<table cellspacing="0" cellpadding="0" border="0"
																	align="center">
																	<tbody>
																		<tr>
																			<td valign="top" align="left"><a
																				href="https://www.instagram.com/gudangemas24k/"
																				style="text-decoration: none" target="_blank">
																					<img
																					src="https://api-staging.gudangemas.com/image/mail/ig.png"
																					alt="Instagram"
																					style="max-width: 32; display: block; font-family: Arial, sans-serif; font-size: 12px; line-height: 12px"
																					width="32" border="0" class="CToWUd">
																			</a></td>
																			<td style="padding-left: 8px" valign="top"
																				align="left"><a
																				href="https://www.facebook.com/gudang.emas.1447/"
																				style="text-decoration: none" target="_blank">
																					<img
																					src="https://api-staging.gudangemas.com/image/mail/fb.png"
																					alt="Facebook"
																					style="max-width: 32px; display: block; font-family: Arial, sans-serif; font-size: 12px; line-height: 12px"
																					width="32" border="0" class="CToWUd">
																			</a></td>
																			<td style="padding-left: 8px" valign="top"
																				align="left"><a
																				href="https://www.youtube.com/channel/UCKeUna-kl8E32E2oL_74Dkw/videos"
																				style="text-decoration: none" target="_blank">
																					<img
																					src="https://api-staging.gudangemas.com/image/mail/yt.png"
																					alt="Youtube"
																					style="max-width: 32px; display: block; font-family: Arial, sans-serif; font-size: 12px; line-height: 12px"
																					width="32" border="0" class="CToWUd">
																			</a></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td height="25"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td
								style="padding-top: 24px; height: 1px; width: 100%; border-bottom: 1px solid #e5e7e9"
								valign="top" align="left" height="1" width="100%">&nbsp;</td>
						</tr>
						<tr>
							<td
								style="font-family: 'Roboto', Arial, sans-serif; padding-top: 24px; font-size: 12px; text-align: center; line-height: 18px; color: rgba(49, 53, 59, 0.44)"
								valign="top" align="left">2020-2021, PT <span class="il">SINERGI MULIA INVESTAMA</span>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>