<table valign="top" width="100%" cellspacing="0" cellpadding="0"
	border="0" align="center">
	<tbody>
		<tr>
			<td valign="top" align="center">
				<table style="width: 600px; padding: 24px 32px;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);" width="600px"
					cellspacing="0" cellpadding="0" border="0" align="center"
					bgcolor="#ffffff">
					<tbody>
						<tr>
							<td style="padding-top: 24px" valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td valign="top" align="center" colspan="3"><img
												alt="Selamat Bergabung!"
												style="display: block; font-family: Arial, sans-serif; font-size: 30px; line-height: 34px; color: #000000"
												src="https://api-staging.asuransikapalku.com/image/email/banner.png"
												width="100%" border="0" class="CToWUd a6T" tabindex="0">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td
								style="padding-top: 24px; padding-left: 10px; padding-right: 10px"
								valign="top" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									align="center">
									<tbody>
										<tr>
											<td
												style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 28px; color: rgba(49, 53, 59, 0.96)"
												valign="top" align="left">Dear <b>{{CUSTOMER_NAME}}</b>,
											</td>
										</tr>
										<tr>
											<td style="font-size: 0px; line-height: 0px; height: 15px"
												height="12">&nbsp;</td>
										</tr>
										<tr>
											<td
												style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px; line-height: 22px; color: rgba(49, 53, 59, 0.96)"
												valign="top"><p align="justify">We are happy to
													welcome you to the AsuransiKapalku.com network.</p>
												<p align="justify">Please find the details of the user
													ID and Password for your perusal.</p>
												<p align="justify">User ID: {{USERNAME}}</p>
												<p align="justify">Password: {{PASSWORD}}</p>
												<p align="justify">Thank you, and We hope you have a
													great business experience with AsuransiKapalku.com.</p>
												<p align="justify">
												<hr style="border-top: 1px dashed #8c8b8b">
												</p>
												<p align="justify">Kami senang menyambut Anda sebagai
													bagian dari kami.</p>
												<p align="justify">Berikut adalah detail dari user ID
													and Password Anda.</p>
												<p align="justify">User ID: {{USERNAME}}</p>
												<p align="justify">Password: {{PASSWORD}}</p>
												<p align="justify">Terima kasih dan semoga Anda memiliki
													pengalaman bisnis yang menyenangkan bersama
													AsuransiKapalku.com.</p></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td
								style="color: rgba(49, 53, 59, 0.96); font-family: 'Roboto', Arial, sans-serif; padding-top: 48px; font-size: 12px; line-height: 18px; padding-left: 10px; padding-right: 10px">
								E-mail ini dibuat otomatis, mohon tidak membalas. Jika butuh
								bantuan, silakan <a
								style="color: #2a5b70; text-decoration: none; font-weight: bold"
								href="#" target="_blank">hubungi kami</a>.
							</td>
						</tr>

						<tr>
							<td
								style="padding-top: 24px; padding-left: 10px; padding-right: 10px; height: 1px; width: 100%; border-bottom: 1px solid #e5e7e9"
								valign="top" align="left" height="1" width="100%">&nbsp;</td>
						</tr>
						<tr>
							<td
								style="font-family: 'Roboto', Arial, sans-serif; padding-top: 24px; font-size: 12px; text-align: center; line-height: 18px; color: rgba(49, 53, 59, 0.44); padding-left: 10px; padding-right: 10px"
								valign="top" align="left">2021 Asuransikapalku. All Rights Reserved</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>